@font-face {
    font-family: 'Lexend';
    src: url('./fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Lexend', sans-serif;
    color: white;
}
